<%= form_with(model: publicacion, local: true) do |form| %>
  <% if publicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publicacion.errors.count, "error") %> prohibited this publicacion from being saved:</h2>

      <ul>
      <% publicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario %>
  </div>

  <div class="field">
    <%= form.label :nombreJuegoOfrece %>
    <%= form.select(:nombreJuegoOfrece.to_s, Game.all.collect {|g| [ g.nombre, g.nombre ] }  ) %>
  </div>

  <div class="field">
    <%= form.label :nombreJuegobusca %>
    <%= form.select(:nombreJuegobusca.to_s, Game.all.collect {|g| [ g.nombre, g.nombre ] }  ) %>
  </div>

  <div class="field">
    <%= form.label :comentarios %>
    <%= form.text_area :comentarios %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
