<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @usuario.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Nombre usuario:</strong>
  <%= @usuario.nombre_usuario %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @usuario.contrasena %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @usuario.rut %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuario.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @usuario.sexo %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @usuario.celular %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @usuario.codigo_postal %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @usuario.fecha_nacimiento %>
</p>

<p>
  <strong>Id comuna:</strong>
  <%= @usuario.id_comuna %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
